<div class="col-md-12">
	<h2> Results </h2>



<!-- To get the subject -->
<% @hasResult = false %>

<% @courses.each do |c| %>

	<% array = c.subject %>
	<% str = array.split(",") %>

	<% str.each do |id| %>
		<% if id.include?("-") %>
			<% unit = id.split('"') %>
			<% @final = unit[3] %>
		<% end %>
	<% end %>

	<% if @sub_id == @final %>
		<% if c.name %>
			<% if c.name.downcase.include?(@course_result.downcase)%>
				<% @hasResult = true %>
					<div class="col-md-8">
					<%= c.name %>
					</div>
					<div class="col-md-4">
					<%= button_to 'Enroll', {:controller => "home", :action => "index", :course => c.name, :id => c.id} , :method=>:post, class: "btn btn-default" %>
					</div>
					<br />
			<% end %>
		<% else %>
			<%= c.name %>
		<% end %>
	<% end %>
<% end %>

<% if !@hasResult %>
	<p> There are no results to display </p>
<% end %>
</div>