<body>
<select name="subject_id">
	<%= @subjects.each do |subject| %>
    	<option value="<%= subject.id %>"><%= subject.name %></option>
    <% end %>
</select>

<%= f.collection_select(:subject_id, Subject.all, :id, :name, { :prompt => 'Select a Subject', :selected => @address.state_id }, { class: 'form-control' }) %>
</body>
