<h2> Results </h2>
<br />
<!-- To get the subject -->
	<% @courses.each do |c| %>

		<% array = c.subject %>
		<% str = array.split(",") %>

		<% str.each do |id| %>
			<% if id.include?("-") %>
				<% unit = id.split('"') %>
				<% @final = unit[3] %>
			<% end %>
		<% end %>

		<!--<%#= @final %>-->
		<div>
		<!--<%#= s.s_id == @final %>-->
		<% if @sub_id == @final %>
			<%= c.name %>
		<% end %>
		</div>
	<% end %>

<!--If user also enters course-->
<%= @course_result %>


