<h2> Results </h2>
<br />
<!-- To get the subject -->
<% @hasResult = false %>
	<% @courses.each do |c| %>

		<% array = c.subject %>
		<% str = array.split(",") %>

		<% str.each do |id| %>
			<% if id.include?("-") %>
				<% unit = id.split('"') %>
				<% @final = unit[3] %>
			<% end %>
		<% end %>

		<!--<%#= @final %>-->
		<div>
		<!--<%#= s.s_id == @final %>-->
		<% if @sub_id == @final %>
			<% if c.name %>
				<% if c.name.downcase.include?(@course_result.downcase)%>
					<% @hasResult = true %>
					<!--<%#= form_tag("/home#index", method: "post") do %>-->
						<%= c.name %>
						<!--<%#= label_tag(:course_name, c.name) %>-->
						<!--<button name="enroll", type="submit"> Enroll </button>-->
						<%= button_to 'Enroll', {:controller => "home", :action => "index", :course => c.name, :id => c.id} , :method=>:post  %> <!-- add id c.id--->
					<%# end %>
					

					<!--<%#= button_tag("Enroll") %>-->
				<% end %>
			<% else %>
				<%= c.name %>
			<% end %>
		<% end %>
		</div>
	<% end %>
	<% if !@hasResult %>
		<p> There are no results to display </p>
	<% end %>