<h2> Results </h2>
<br />
<% if false %>
<!-- To get the subject -->
	<% @courses.each do |c| %>

		<% array = c.subject %>
		<% str = array.split(",") %>

		<% str.each do |id| %>
			<% if id.include?("-") %>
				<% unit = id.split('"') %>
				<% @final = unit[3] %>
			<% end %>
		<% end %>

		<!--<%#= @final %>-->
		<div>
		<!--<%#= s.s_id == @final %>-->
		<% if @sub_id == @final %>
			<%= c.name %>
		<% end %>
		</div>
	<% end %>
<% end %>
<!--If user also enters course-->
<% @courses.each do |course| %>
	<div>
	<% if course.name.downcase.include?(@course_result.downcase)%> <!-- if it's not empty -->
		<%= course.name %>
	<% end %>
	</div>
<% end %>

<!--don't forget to say if there are no results-->

