<h2> Results </h2>
<br />
<!-- To get the subject -->
	<% @courses.each do |c| %>

		<% array = c.subject %>
		<% str = array.split(",") %>

		<% str.each do |id| %>
			<% if id.include?("-") %>
				<% unit = id.split('"') %>
				<% @final = unit[3] %>
			<% end %>
		<% end %>

		<!--<%#= @final %>-->
		<div>
		<!--<%#= s.s_id == @final %>-->
		<% @hasResult = false %>
		<% if @sub_id == @final %>
			<% @hasResult = true %>
			<% if c.name %>
				<% if c.name.downcase.include?(@course_result.downcase)%>
					<%= c.name %>
				<% end %>
			<% else %>
				<%= c.name %>
			<% end %>
		<% end %>
		</div>
	<% end %>
	<% if !@hasResult %>
		<p> There are no results to display </p>
	<% end %>
<!--If user also enters course-->

<% if false %>
<% @courses.each do |course| %>
	<div>
	<% if course.name.downcase.include?(@course_result.downcase)%> <!-- if it's not empty -->
		<%= course.name %>
	<% end %>
	</div>
<% end %>
<% end %>
<!--don't forget to say if there are no results-->

