</body>
	<div>
		<h1>Hello <%= current_user.email %>! </h1>
		<h2> Welcome to the Course Catalog </h2>
	</div>

		<% @isEnrolled = false %>
		<b>The courses you are enrolled in are: </b>
		<% @enrollments.each do |e| %>
			<div>
			<% if Enrollment.find(e).user_id == current_user.id %>
				<%= Course.find(Enrollment.find(e).course_id).name %>
				<% @isEnrolled = true %>
			<% end %>
			</div>
		<% end %>
	
		<% if !@isEnrolled %>
			None
		<% end %> 
</body>




